<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand mx-lg-4 mx-xl-5"  href="/home"><img src="../img/confort-logo.png" width="100px" height="80px" alt="Confort logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse offset-md-2 offset-lg-3 offset-xl-6" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/home">Home</a>
        <a class="nav-link" href="/listings">All Listings</a>
        <a class="nav-link" href="/listings/new">List your home</a>
        <a class="nav-link" href="/login">Login</a>
        <a href="/book" class="btn edit-btn py-2">Book now</a>
      </div>
    </div>
  </div>
</nav>